.user-div {
  width: 80%;
  margin: 15px auto;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 35px;
  position: relative;
  border: 1px solid #81c3d7;
  border-radius: 12px;
  justify-content: flex-start;
}
.user-info {
  display: flex;
  gap: 5px;
}
.delete-button {
  width: 35px;
  height: 35px;
  color: white;
  background-color: #e76f51;
  position: absolute;
  right: 30px;
}

.edit-button {
  width: 35px;
  height: 35px;
  color: white;
  background-color: #f4a261;
  position: absolute;
  right: 80px;
}
.role {
  position: absolute;
  left: 50%;
}
.role-select {
  right: 300px;
  width: 80px;
}
/* Add this CSS to the component's stylesheet */

.confirm-button {
  width: 80px;
  height: 35px;
  color: white;
  cursor: pointer;
}
.cancel-button {
  width: 70px;
  height: 35px;
  cursor: pointer;
}

.custom-select {
  display: flex;
  align-items: center;
  padding: 0 5px;
  width: 100px;
  height: 30px;
  background: #264653;
  color: #fff;
  font-size: 14px;
  border-radius: 5px 5px;
  margin-left: 15%;
}

.custom-select:after {
  content: "";
  top: 15px;
  right: 20px;
  width: 5px;
  height: 5px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  z-index: 1;
  transform: rotateZ(45deg);
  transition: all 0.3s ease-in-out;
}

.custom-select.option-active:after {
  transform: rotateZ(-135deg);
  top: 17px;
}

.custom-select-container {
  display: none;
}

.custom-select-container.show {
  display: block;
}

.custom-select-item {
  margin: 1px 0;
  width: 300px;
  height: 40px;
  background: #151515;
  color: #fff;
  padding: 0 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.custom-select-item:hover {
  background: salmon;
}
.confirm-button {
  background-color: #227b94 !important;
  color: white !important;
}
