<div class="userManagement_container">
  <div *ngFor="let user of usersList" class="user-div">
    <app-avatar [user]="user"> </app-avatar>
    <div class="user-info">
      <h5>{{ user.firstName }}</h5>
      <h5>{{ user.lastName }}</h5>
    </div>
    <h5>{{ user.email }}</h5>
    <h5 class="role" *ngIf="selectedUser?.id !== user?.id">
      {{ user.role }}
    </h5>

    <select
      name="roles"
      *ngIf="editMode && selectedUser?.id === user?.id"
      class="custom-select"
      [(ngModel)]="user.role"
    >
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>

    <button mat-fab class="delete-button" (click)="deleteUser(user.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab class="edit-button" (click)="onEdit(user)">
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <button
        mat-button
        class="confirm-button"
        *ngIf="editMode && selectedUser?.id === user?.id"
      >
        Confirmer
      </button>
      <button
        mat-button
        class="cancel-button"
        *ngIf="editMode && selectedUser?.id === user?.id"
        (click)="onCancel()"
      >
        Annuler
      </button>
    </div>
  </div>
</div>
