<div class="userManagement_container">
  <div *ngFor="let user of usersList" class="user-div">
    <app-avatar [user]="user"> </app-avatar>
    <div class="user-info">
      <h6>{{ user.firstName }}</h6>
      <h6>{{ user.lastName }}</h6>
    </div>
    <h6>{{ user.email }}</h6>
    <h6 class="role" *ngIf="selectedUser?.id !== user?.id">
      {{ user.role }}
    </h6>

    <select
      name="roles"
      *ngIf="editMode && selectedUser?.id === user?.id"
      class="custom-select"
      [(ngModel)]="user.role"
    >
      <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
    </select>

    <button mat-fab class="delete-button" (click)="deleteUser(user.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab class="edit-button" (click)="onEdit(user)">
      <mat-icon>edit</mat-icon>
    </button>
    <div>
      <button
        mat-button
        class="cancel"
        *ngIf="editMode && selectedUser?.id === user?.id"
        (click)="onCancel()"
      >
        Annuler
      </button>
      <button
        mat-button
        class="save"
        *ngIf="editMode && selectedUser?.id === user?.id"
        (click)="onConfirmEdit(user)"
      >
        Confirmer
      </button>
    </div>
  </div>
</div>
