.events-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  overflow-y: auto;
  box-sizing: border-box;
  height: 90vh;
}


.spinner-container {
  position: absolute;
  right: 50%;
  left: 50%;
  top: 50%;
  height: 80px;
  width: 80px;
}
