<div class="login-container">
  <div class="login-card">
    <h2>User Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <span class="input-icon">
          <img src="../../assets/icons8-user-30.png" alt="User Icon" />
        </span>
        <input
          type="text"
          formControlName="username"
          placeholder="Username"
          class="input-field"
        />
      </div>

      <div class="input-group">
        <span class="input-icon">
          <img src="../../assets/locked.png" alt="Lock Icon" />
        </span>
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="input-field"
        />
      </div>

      <button type="submit" class="login-button" [disabled]="!loginForm.valid">
        Login
      </button>
    </form>
  </div>
</div>
