<mat-toolbar class="navbar-container">
  <span class="app-title" [routerLink]="['']">Eventify</span>

  <span class="spacer"></span>

  <button
    mat-icon-button
    *ngIf="isLoggedIn"
    (click)="picker.open()"
    class="calendar_button"
  >
    <mat-icon
      fontIcon="calendar_month"
      class="calendar-icon"
      matTooltip="Info about the action"
    ></mat-icon>
  </button>

  <!-- <mat-form-field style="width: 1px; visibility: hidden" class="datepicker">
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->

  <mat-form-field class="calendar">
    <input
      matInput
      [matDatepicker]="picker"
      [min]="startDate"
      (dateChange)="onDateChange($event)"
    />
    <mat-datepicker touchUi #picker [startAt]="startDate"></mat-datepicker>
  </mat-form-field>

  <button
    *ngIf="!isLoggedIn"
    mat-stroked-button
    class="login-button"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/login']"
  >
    Se connecter
  </button>
  <button
    *ngIf="!isLoggedIn"
    mat-flat-button
    class="register-button"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/register']"
  >
    S'enregistrer
  </button>
  <!-- <button
    *ngIf="isLoggedIn"
    mat-flat-button
    class="register-button"
    aria-label="Example icon-button with share icon"
    (click)="handleClick()"
  >
    Logout
  </button> -->

  <button
    *ngIf="isLoggedIn"
    mat-icon-button 
    [matMenuTriggerFor]="menu"
    class="avatar-button">
    <app-avatar [user]="user"></app-avatar>
  </button>
  <mat-menu #menu="matMenu" class="user-menu">
    <div class="menu-items-container">
      <button mat-menu-item>
        <mat-icon class="account-icon" fontIcon="account_circle"></mat-icon>
        <span>Mes informations</span>
      </button>
      <button mat-menu-item [routerLink]="['/event-page']">
        <mat-icon class="event-icon" fontIcon="event_available"></mat-icon>
        <span>Mes événements</span>
      </button>
      <button mat-menu-item (click)="handleClick()">
        <mat-icon class="logout-icon" fontIcon="logout"></mat-icon>
        <span>Se déconnecter</span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
