<mat-toolbar class="navbar-container">
  <span class="app-title" [routerLink]="['']">Eventify</span>

  <span class="spacer"></span>
  <button
    *ngIf="!isLoggedIn"
    mat-stroked-button
    class="login-button"
    aria-label="Example icon-button with heart icon"
    [routerLink]="['/login']"
  >
    Se connecter
  </button>
  <button
    *ngIf="!isLoggedIn"
    mat-flat-button
    class="register-button"
    aria-label="Example icon-button with share icon"
    [routerLink]="['/register']"
  >
    S'enregistrer
  </button>
  <button
    *ngIf="isLoggedIn"
    mat-flat-button
    class="register-button"
    aria-label="Example icon-button with share icon"
    (click)="handleClick()"
  >
    Logout
  </button>

  <button
    *ngIf="isLoggedIn"
    mat-icon-button 
    [matMenuTriggerFor]="userMenu"
    class="avatar-button">
    <app-avatar [user]="user"></app-avatar>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings_applications</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
