<app-navbar></app-navbar>
<div class="profile-container">
  <div class="form-card">
    <h2>Update Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSave()">
      <div class="form-group">
        <input
          id="username"
          formControlName="username"
          type="text"
          placeholder="Nom d'utilisateur"
          class="form-control"
          [disabled]="!isEditing"
        />
      </div>

      <div class="form-group">
        <input
          id="firstName"
          formControlName="firstName"
          type="text"
          placeholder="Prénom"
          class="form-control"
          [disabled]="!isEditing"
        />
      </div>

      <div class="form-group">
        <input
          id="lastName"
          formControlName="lastName"
          type="text"
          placeholder="Nom"
          class="form-control"
          [disabled]="!isEditing"
        />
      </div>

      <div class="form-group">
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Email"
          class="form-control"
          [disabled]="!isEditing"
        />
      </div>

      <div class="form-group">
        <input
          id="password"
          formControlName="password"
          type="password"
          placeholder="Mot de passe"
          class="form-control"
          [disabled]="true"
        />
      </div>

      <div class="form-group">
        <input
          id="role"
          formControlName="role"
          type="text"
          placeholder="Rôle"
          class="form-control"
          [disabled]="!isEditing || user.role !== 'admin'"
        />
      </div>

      <div class="button-group">
        <button
          type="button"
          class="btn btn-primary"
          (click)="toggleEditMode(true)"
          *ngIf="!isEditing"
        >
          Edit le Profile
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="profileForm.pristine || profileForm.invalid"
          *ngIf="isEditing"
        >
          Save Profile
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onCancel()"
          *ngIf="isEditing"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
