<app-navbar></app-navbar>
<form [formGroup]="profileForm" (ngSubmit)="onSaveChanges()">
    <div>
      <label for="username">Username:</label>
      <input id="username" formControlName="username" type="text" />
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" />
    </div>
  
    <div>
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" type="text" />
    </div>
  
    <div>
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" type="text" />
    </div>
  
    <div>
      <label for="role">Role:</label>
      <input id="role" formControlName="role" type="text" [disabled]="true" />
    </div>
  
    <div>
      <button type="submit" [disabled]="!profileForm.dirty || profileForm.invalid">
        Edit
      </button>
    </div>
</form>