<!-- admin.component.html -->
<div class="home-container">
  <!-- Barre de navigation supérieure -->
  <app-navbar></app-navbar>

  <!-- Conteneur principal avec sidenav -->
  <mat-sidenav-container class="sidenav-container">
    <!-- Sidenav fixe sur le côté gauche -->
    <mat-sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/admin/users"
          routerLinkActive="active-link"
          class="sidebar-button"
        >
          Manage Users
        </a>
        <a
          mat-list-item
          routerLink="/admin/events"
          routerLinkActive="active-link"
          class="sidebar-button"
        >
          Manage Events
        </a>
        <a
          mat-list-item
          routerLink="/admin/comments"
          routerLinkActive="active-link"
          class="sidebar-button"
        >
          Manage Comments
        </a>
        <a mat-list-item routerLink="/category" class="sidebar-button"
          >A suivre</a
        >
        <a mat-list-item routerLink="/dashboard" class="sidebar-button"
          >A suivre</a
        >
      </mat-nav-list>
    </mat-sidenav>

    <!-- Contenu principal qui change en fonction de la route -->
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
        <!-- Contenu dynamique -->
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
