<div class="event-card-container" (click)="navigateToEvent()">
  <div class="image-container">
    <img class="event-image" [src]="randomImage" [alt]="randomImage" />
  </div>
  <h4 class="event-title">{{ event.title }}</h4>
  <span class="event-description">{{ event.description }}</span>
  <div class="event-inf">
    <span class="subtitle">Date : </span>
    <span> {{ event.date }} à {{ formatTime(event.time) }} </span>
  </div>
  <div class="event-inf">
    <span class="subtitle">Lieu : </span>
    <span> {{ event.location }} </span>
  </div>

  <div class="event-inf">
    <span class="subtitle">Capacité :</span><span>{{ event.capacity }}</span>
  </div>
</div>
