.event-card-container {
  height: 370px;
  width: 300px;
  border: 1px solid #2a9d8f;
  border-radius: 12px;
  padding: 5px 10px;
  background-color: white;
  opacity: 0.9;
}
.event-card-container:hover {
  box-shadow: 0 1px 3px #2a9d8f, 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.image-container {
  width: 100%;
  height: 40%;
  margin-bottom: "20px";
  background-position: "center";
}
.event-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.event-title {
  color: #264653;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  display: -webkit-box;
  line-clamp: 2 1;
  -webkit-line-clamp: 1; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) */
}
.event-description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Add ellipsis (...) */
  text-align: flex-start;
  margin-left: 10px;
}
.subtitle {
  font-weight: 500;
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.subtitle ~ span {
  font-style: italic;
}
.event-inf {
  margin: 10px;
}
