.event-card-container {
  flex: 1 1 300px;
  width: 285px; /*make more cards fit into space 290px*/
  height: 370px;
  border: 1px solid #3a738a;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  opacity: 0.9;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.event-card-container:hover {
  box-shadow: 0 1px 3px #3a738a, 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.image-container {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
  background-position: center;
}

.event-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.event-title {
  color: #3a738a;
  font-weight: 600;
  text-align: center;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 10px 0;
}

.event-description {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: start;
  font-size: 14px;
  font-weight: 600;
  color: #e76f51;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  display: inline-block;
  width: auto;
  margin-right: 5px; 
  margin-left: 0; 
  text-align: left;
}

.subtitle ~ span {
  font-style: bold;
}

.event-inf {
  margin: 5px 0; 
  font-size: 14px;
  font-weight: 600;
}
