<div class="register-container">
  <div class="register-card">
    <h2>CREATE ACCOUNT</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <input type="text" placeholder="Your Name" formControlName="username" />
      </div>

      <div class="form-group">
        <input type="email" placeholder="Your Email" formControlName="email" />
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="First Name"
          formControlName="firstName"
        />
      </div>

      <div class="form-group">
        <input type="text" placeholder="Last Name" formControlName="lastName" />
      </div>

      <div class="form-group">
        <input type="checkbox" formControlName="terms" />
        <label>
          I agree all statements in <a href="#">Terms of service</a>
        </label>
      </div>

      <button type="submit" [disabled]="!registerForm.valid">SIGN UP</button>
    </form>
    <p class="login-link">
      Have already an account? <a href="#">Login here</a>
    </p>
  </div>
</div>
