<app-navbar></app-navbar>
<div class="register-container">
  <div class="register-card">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <input type="text" placeholder="Nom d'utilisateur" formControlName="username" />
      </div>

      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
      </div>

      <div class="form-group">
        <input
          type="password"
          placeholder="Mot de passe"
          formControlName="password"
        />
      </div>

      <div class="form-group">
        <input
          type="text"
          placeholder="Nom"
          formControlName="firstName"
        />
      </div>

      <div class="form-group">
        <input type="text" placeholder="Prénom" formControlName="lastName" />
      </div>

      <!-- <div class="form-group">
        <input type="checkbox" formControlName="terms" />
        <label>
          I agree all statements in <a href="#">Terms of service</a>
        </label>
      </div> -->

      <button type="submit" [disabled]="!registerForm.valid">CREER MON COMPTE</button>
    </form>
    <p class="login-link">
      Vous avez déjà un compte ? <a href="#">Me connecter</a>
    </p>
  </div>
</div>
