<app-navbar></app-navbar>
<div class="register-container">
  <div class="register-card">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="form-group">
        <input type="text" placeholder="Nom d'utilisateur" formControlName="username" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
          Nom d'utilisateur requis
        </div>
      </div>

      <div class="form-group">
        <input type="text" placeholder="Nom" formControlName="firstName" />
        <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched" class="error">
          Nom requis
        </div>
      </div>
      
      <div class="form-group">
        <input type="text" placeholder="Prénom" formControlName="lastName" />
        <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched" class="error">
          Prénom requis
        </div>
      </div>
      
      <div class="form-group">
        <input type="email" placeholder="Email" formControlName="email" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
          Veuillez entrer une adresse email valide
        </div>
      </div>
      
      <div class="form-group">
        <input type="password" placeholder="Mot de passe" formControlName="password" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
          Le mot de passe doit contenir au moins 6 caractères
        </div>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <button type="submit" [disabled]="!registerForm.valid">M'ENREGISTRER</button>
      
    </form>
    <p class="login-link">
      Vous avez déjà un compte ? <a [routerLink]="['/login']">Me connecter</a>
    </p>
  </div>
</div>
